@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@700&family=Nova+Oval&family=Quantico:ital@1&family=Sedgwick+Ave+Display&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Quantico', sans-serif;
    background-color: antiquewhite;
}

h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-left: 0;
    list-style: none;
}

input{
    outline: none;
    font-family: inherit;
}

button{
    border: none;
    font-family: inherit;
    cursor: pointer;
}















